fastapi
uvicorn
streamlit
langchain
langchain-text-splitters
sentence-transformers
pandas
chromadb
python-dotenv
tiktoken
torch
PyJWT
bcrypt
passlib
openai
huggingface_hub
transformers
httpx
pytest
sqlalchemy
python-multipart
